
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Welcome to the challenge @ViewBag.ChallengeName</h2>
<p>This is the challenge for the activity number @ViewBag.activityNumber</p>
